doctype html
html
  head
    title= appTitle
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript',src='/javascripts/test.js')
    body

  block content


      
