doctype html
html
    head
        title= appTitle
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/javascripts/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
        script(type="text/javascript",src="/javascripts/bower_components/jquery/dist/jquery.min.js")
            script(type="text/javascript",src="/javascripts/bower_components/jquery/dist/jquery.min.js")
        script(type='text/javascript',src='/javascripts/test.js')
    body
        #wrap
            .container
                h1.page-header=appTitle
                p.lead welcome to example from express.js
                a(href="http://kjt.com") @aza
                |. plaase enjoy.
                block page
                    block header
                        div
                            block menu
                            include includes/menu
                    block alert
                        div.alert.alert-warning.hidden
                    .container
                        block content



                    block footer
                        .container
                            p
                            | copyright 2014|issues? sumit to
                            a(href="kjt.com") github
                            |.