doctype html
html
    head
        title= appTitle
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/javascripts/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
        script(type="text/javascript",src="/javascripts/bower_components/jquery/dist/jquery.min.js")
        script(type='text/javascript',src='/javascripts/test.js')
    body

block content